.alert {
	padding: .2rem .5rem;
	margin: .5rem .5rem;
	border-width: .18rem;
}

.alert-success, .alert-info, .alert-danger, .alert-warning {
	font-weight: 500;
	background-color: transparent;
}

.alert-success {
	border-color: hsl(153deg 31% 60%);
}

.alert-info {
	border-color: hsl(190deg 90% 60%);
}

.alert-danger {
	border-color: hsl(354deg 72% 60%) !important;
}

.alert-warning {
	border-color: hsl(45deg 100% 60%);
}

.header-table, .header-table .float-start a {
	font-size: 1.4rem;
	color: #fff;
}