@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;200;400;500;600;700;800;900&display=swap');
@import url('alerts-styles.css');
@import url('login-styles.css');
@import url('calendar-styles.css');
@import url('table-styles.css');
@import url('contact-styles.css');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

html, body {
	font-family: 'Saira Semi Condensed', sans-serif;
}

.header-container {
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .8rem 20px;
	background-color: hsla(216, 98%, 52%, 1);
	flex-wrap: wrap;
	position: relative;
}

.header-container h1 {
	transition: all 0.3s linear;
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
	font-weight: 500;
	color: #fff;
	letter-spacing: 1px;
}

.header-container .ul-links {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	text-align: center;
	align-items: center;
}

.header-container .ul-links li {
	margin: 0 20px;
	max-height: 100%;
	font-size: 1.3rem;
	font-weight: bold;
}

.header-link, .nav-links .btn-group .btn {
	text-decoration: none;
	color: white;
	text-shadow: 6px 4px 2px rgba(0, 0, 0, .5);
	transition: all 0.3s linear;
}

.header-link:hover, .nav-links .btn-group .btn:hover {
	position: relative;
	bottom: .1rem;
	right: .2rem;
	color: hsla(199, 100%, 73%, 1);
	text-shadow: 12px 8px 2px rgba(0, 0, 0, .5);
	background-color: rgba(0, 0, 0, 0);
	border-color: rgba(0, 0, 0, 0);
}

.header-link:hover {
	border-bottom: 3px solid hsla(199, 100%, 73%, 1);
}

.nav-links {
	display: flex;
}

.nav-links .btn-group .btn i {
	font-size: x-large;
}

@media screen and (max-width: 594px) {
	.header-container {
		justify-content: space-around;
	}
	.header-container h1 {
		font-size: calc(1.5rem + 2vw);
	}
	.header-container .ul-links li {
		font-size: calc(.7rem + 2vw);
	}
}

@media screen and (max-width: 312px) {
	.header-container .ul-links {
		flex-direction: column;
		text-align: center;
	}
	.header-container .ul-links li {
		font-size:
	}
}

.banner-area {
	padding: 5vw;
	max-height: 1000rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url("../images/Clouds.jpg");
	background-size: cover;
	z-index: -100;
	border-bottom: 2px solid rgba(0, 0, 0, .7);
}

footer {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
}

footer p {
	padding: 10px 0;
	border-bottom: 1px solid rgba(0, 0, 0, .8);
	border-right: 1px solid rgba(0, 0, 0, .8);
	box-shadow: 4px 3px hsla(216, 98%, 52%, 1);
	padding-right: 10px;
}

footer p:last-of-type {
	margin-right: .5rem;
}

@media screen and (max-width: 1188px) {
	footer {
		justify-content: center;
	}
	footer p {
		margin-bottom: 10px;
	}
}

