.perfil-card {
	width: 100%;
	height: 25rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#personal-card {
	width: 25rem;
	height: 15rem;
	background-color: #fff;
	z-index: 1;
	box-shadow: 0px 0px 0px 1px #0d6dfd,
				0 0 5px rgb(0 0 0 / 80%),
				0 0 5px rgb(0 0 0 / 80%);
}

#account-card {
	width: 25rem;
	height: 12rem;
	background-color: hsl(0deg 0% 83%);
	align-self: flex-end;
	position: relative;
	right: 3rem;
	box-shadow: 0 0 0 1px hsl(216deg 98% 39%);
}

#personal-card,
#account-card {
	border-radius: .4rem;
}

.perfil-header {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 1.5rem;
	height: 20%;
	border-radius: .3rem .3rem 0 0;
}

.personal-header {
	background-color: #0d6dfd;
}

.account-header {
	background-color: hsl(216deg 98% 39%);
}

.perfil-body {
	height: 80%;
}

.perfil-body form {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.content {
	padding: .4rem .7rem;
}

.content button {
	padding: .5rem .7rem;
}

.content label,
.content-account span {
	font-weight: 600;
}

.content input,
.content-account div {
	margin-left: .5rem;
    width: 80%;
    padding: .3rem .5rem;
}

.content button,
.content input {
	border-radius: .4rem;
    border: 1px solid #d4d4d4;
}

.content input:focus {
	border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.content button:not(:disabled) {
	background-color: #0d6dfd;
	color: white;
}

.account-body {
	display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content-account {
	display: flex;
	align-items: center;
}

.content a {
	padding: .3rem .5rem;
    border-radius: .4rem;
    border: 1px solid rgba(0,0,0,.5);
    background-color: hsl(0deg 62% 55%);
    text-decoration: none;
    color: hsl(0deg 0% 16%);
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.content-account div {
	width: 80%;
	border: 1px solid rgba(0,0,0,.4);
	border-radius: .4rem;
}

@media screen and (max-width: 880px) {
	#account-card {
		right: 0;
	}
	
	.perfil-card {
		height: 30rem;
		align-content: space-evenly;
	}
}

@media screen and (max-width: 431px) {
	.content,
	.content-account {
		display: flex;
    	flex-direction: column;
    	align-items: center;
	}
}