body.js-stop-transition * { transition: none !important; }

.perfil-card {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#personal-card {
	width: 25rem;
	background-color: #fff;
	z-index: 1;
	box-shadow: 0px 0px 0px 1px #0d6dfd,
				0 0 5px rgb(0 0 0 / 80%),
				0 0 5px rgb(0 0 0 / 80%);
	align-self: self-start;
}

#account-card {
	width: 25rem;
	background-color: hsl(0deg 0% 88%);
	align-self: flex-start;
	position: relative;
	right: .3rem;
	box-shadow: 0 0 0 1px hsl(216deg 98% 39%);
	margin-top: 2rem;
}

#personal-card,
#account-card {
	border-radius: .4rem;
}

.perfil-header {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 1.5rem;
	height: 2.5rem;
	border-radius: .3rem .3rem 0 0;
}

.personal-header {
	background-color: #0d6dfd;
}

.account-header {
	background-color: hsl(216deg 98% 39%);
}


.perfil-body form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.content {
	margin: .4rem 0;
	padding: .4rem .7rem;
}

.content button {
	padding: .5rem .7rem;
}

.content label,
.content-account span {
	font-weight: 600;
}

.content input,
.content-account div {
	margin-left: .5rem;
    width: 80%;
    padding: .3rem .5rem;
}

.content button,
.content input {
	border-radius: .4rem;
    border: 1px solid #a9a9a9;
}

.content input:focus {
	border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.content button:not(:disabled) {
	background-color: #0d6dfd;
	color: white;
}

.account-body {
	display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content-account {
	display: flex;
	align-items: center;
}

.content .small-btn {
	display: inline-block;
	padding: .3rem .5rem;
    border-radius: .4rem;
    border: 1px solid rgba(0,0,0,.5);
    background-color: hsl(0deg 62% 55%);
    text-decoration: none;
    color: hsl(0deg 0% 16%);
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-size: 1rem;
}

.content-account div {
	width: 80%;
	border: 1px solid rgba(0,0,0,.4);
	border-radius: .4rem;
}

.content-change {
	text-align: center;
	cursor: pointer;
	align-self: center;
	padding: 0;
	margin-bottom: .7rem;
}

#change-form {
    transition: all .4s linear;
    height: 0;
}

#expand-toggle-changepw:checked ~ #change-form {
	height: 25rem;
}

#expand-toggle-changepw:not(:checked) ~ #change-form .content {
	transition: transform .1s linear;
	transform: scaleY(0);
}


#expand-toggle-changepw:checked ~ #change-form .content {
	transition: all .3s linear .3s;
	transform: scaleY(1);
}

#change-form .content label {
	text-align: center;
}

#change-form .content input {
	color: black;
	width: 100%;
	margin: 0;
}

#change-form::before {
	content: '';
	height: 2px;
	width: 90%;
	margin: 0 auto;
	background: rgba(0,0,0,.3);
	display: block;
}

.flex-s {
	align-self: flex-start;
}

.content .text-danger {
	display: block;
	text-align: center;
}

@media screen and (max-width: 431px) {
	.content,
	.content-account {
		display: flex;
    	flex-direction: column;
    	align-items: center;
	}
}

@media screen and (max-width: 317px) {
	#expand-toggle-changepw:checked ~ #change-form {
		height: 28rem;
	}
}

@media screen and (max-width: 288px) {
	#expand-toggle-changepw:checked ~ #change-form {
		height: 35rem;
	}
}