<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout2 :: head2"></head>
<body>

	<header th:replace="layout/layout2 :: header2"></header>
	
	<section class="banner-area" style="padding: 3rem; background: linear-gradient(164deg, hsl(0deg 0% 76%),#eee);">
		<div class="grid-contact">
		
			<div class="container-contact">
				<div class="container-info">
					<div class="icon icon-fb"></div>
					<h6>Facebook</h6>
				</div>
				<div class="cuenta">
					<p>/lucas.markarian.33</p>
				</div>
			</div>

			<div class="container-contact">
				<div class="container-info">
					<div class="icon icon-wsp"></div>
					<h6>Whatsapp</h6>
				</div>
				<div class="cuenta">
					<p>(+54 9)221-5418937</p>
				</div>
			</div>
			
			<div class="container-contact">
				<div class="container-info">
					<div class="icon icon-in"></div>
					<h6>Linkedin</h6>
				</div>
				<div class="cuenta">
					<p>/in/lucas-markarian</p>
				</div>
			</div>
			
			<div class="container-contact">
				<div class="container-info">
					<div class="icon icon-mail"></div>
					<h6>Mail</h6>
				</div>
				<div class="cuenta">
					<p>lucas_812@live.com.ar</p>
				</div>
			</div>
			
			<div class="container-contact">
				<div class="container-info">
					<div class="icon icon-gmail"></div>
					<h6>Gmail</h6>
				</div>
				<div class="cuenta">
					<p>markarianinformatica@gmail.com</p>
				</div>
			</div>
			
			<div class="container-contact">
				<div class="container-info">
					<div class="icon icon-git"></div>
					<h6>Github</h6>
				</div>
				<div class="cuenta">
					<p>/lucasmarkarian</p>
				</div>
			</div>
		</div>
	</section>
	
	<footer th:replace="layout/layout2 :: footer2"></footer>
	
</body>
</html>