<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout2 :: head2"></head>
<body>
	<header th:replace="layout/layout2 :: header2"></header>

	<section class="banner-area calendar-area">
		<div class="calendar">
			<div class="month">
				<i class="fas fa-angle-left prev"></i>
				<div class="date">
					<h1></h1>
					<p class="actual"></p>
				</div>
				<i class="fas fa-angle-right next"></i>
			</div>
			<div class="weekdays">
				<div>Dom</div>
				<div>Lun</div>
				<div>Mar</div>
				<div>Mie</div>
				<div>Jue</div>
				<div>Vie</div>
				<div>Sab</div>
			</div>
			<div class="days"></div>
		</div>
		<div class="date-range-menu">
			<a class="btn btn-primary dropdown-toggle date-range-button" href="#"
				role="button" data-bs-toggle="dropdown" aria-expanded="false"> <span
				th:text="'Generar listado'"></span>
			</a>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuLink"
				style="color: #007bff;">
				<form th:action="@{/test}" method="post" class="px-4">
					<label th:text="'Desde'"></label> <input type="date" name="desde"
						id="desde" required />
					<div class="dropdown-divider" style="border: .5px solid #007bff"></div>
					<label th:text="'Hasta'"></label> <input type="date" name="hasta"
						id="hasta" required />
					<div class="pt-3">
						<input type="submit" th:value="'Generar'" class="btn btn-primary" />
					</div>
				</form>
			</div>
		</div>
	</section>
	
	<hr class="division" />

	<script th:replace="scripts/calendar-js :: javascript"></script>
	<footer th:replace="layout/layout2 :: footer2"></footer>
</body>
</html>