<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout2 :: head2"></head>
<body class="js-stop-transition">

	<header th:replace="layout/layout2 :: header2"></header>
	
	<section class="banner-area">

		<div class="perfil-card">
			<div id="personal-card">
				<div class="perfil-header personal-header">
					<small>Datos personales</small>
				</div>
				<div class="perfil-body personal-body">
					<form th:action="@{/perfil}" method="post" th:object="${usuario}">
						<div class="content">
							<label for="nombre">Nombre</label>
							<input type="text" th:field="*{nombre}" />
						</div>
						<div class="content">
							<label for="apellido">Apellido</label>
							<input type="text" th:field="*{apellido}" />
						</div>
						<div class="content flex-s">
							<button type="submit" id="perfilPersonalButton">Guardar</button>
						</div>
					</form>
				</div>
			</div>
			<div id="account-card">
				<div class="perfil-header account-header">
					<small>Datos de la cuenta</small>
				</div>
				<div class="perfil-body account-body">
					<div class="content content-account">
						<span>Username</span> 
						<div sec:authentication="name"></div>
					</div>
					<input type="checkbox" id="expand-toggle-changepw" style="display: none;" />
					<label for="expand-toggle-changepw" class="content content-change">
						<small class="small-btn">Cambiar contraseña</small>
					</label>
					<form th:action="@{/change-password}" method="post" id="change-form"
						th:object="${passwordChange}">
						<div class="content">
							<label for="oldPassword">Ingrese la contraseña actual</label>
							<input type="password" th:field="*{oldPassword}" th:errorclass="'alert-danger'" />
							<small class="form-text text-danger" th:if="${#fields.hasErrors('oldPassword')}"
								th:errors="*{oldPassword}"></small>
						</div>
						<div class="content">
							<label for="newPassword">Ingrese la nueva contraseña</label>
							<input type="password" th:field="*{newPassword}" th:errorclass="'alert-danger'"  />
							<small class="form-text text-danger" th:if="${#fields.hasErrors('newPassword')}"
								th:errors="*{newPassword}"></small>
						</div>
						<div class="content">
							<label for="repeatedNewPassword">Repita la nueva contraseña</label>
							<input type="password" th:field="*{repeatedNewPassword}" th:errorclass="'alert-danger'" />
							<small class="form-text text-danger" th:if="${#fields.hasErrors('repeatedNewPassword')}"
								th:errors="*{repeatedNewPassword}"></small>
						</div>
						<div class="content flex-s">
							<button type="submit" id="perfilAccountButton">Guardar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		
	</section>
	
	<hr class="division" />
	
	<script th:replace="scripts/perfil-js :: personalButtonJs"></script>
	<script th:replace="scripts/perfil-js :: accountButtonJs"></script>
	<script type="text/javascript">
 		document.body.classList.remove('js-stop-transition');
 		
 		const toggle = document.getElementById("expand-toggle-changepw");
 		
 		if(document.getElementsByClassName("text-danger").length > 0) {
 			toggle.click();
 		}
 		
	</script>
	<footer th:replace="layout/layout2 :: footer2"></footer>
	
</body>
</html>