<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout2 :: head2"></head>
<body>

	<header th:replace="layout/layout2 :: header2"></header>

	<section class="banner-area">
		<div class="container py-4">

			<div class="card border-primary text-center signup-grid">
				<div class="card-header"
					th:text="'Registrese para utilizar la app!'"></div>
				<div class="card-body">

					<form th:action="@{/sign-up}" method="post" th:object="${usuario}">

						<div class="input-group mb-3">
							<label for="nombre" class="col-sm-2 col-form-label">Nombre/s</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{nombre}" class="form-control"
									th:errorclass="'form-control alert-danger'" autofocus /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
							</div>
						</div>

						<div class="input-group mb-3">
							<label for="apellido" class="col-sm-2 col-form-label">Apellido</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{apellido}" class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('apellido')}"
									th:errors="*{apellido}"></small>
							</div>
						</div>

						<div class="input-group mb-3">
							<label for="username" class="col-sm-2 col-form-label">Nombre
								de usuario</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{username}" class="form-control"
									th:errorclass="'form-control alert-danger'" /><small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('username')}"
									th:errors="*{username}"></small>
							</div>
						</div>

						<div class="input-group mb-3">
							<label for="password" class="col-sm-2">Contraseña</label>
							<div class="col-sm-6">
								<input type="password" th:field="*{password}"
									class="form-control"
									th:errorclass="'form-control alert-danger'" /><small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('password')}"
									th:errors="*{password}"></small>
							</div>
						</div>

						<div class="input-group mb-3">
							<div class="col-sm-2">
								<input type="submit" class="btn btn-lg btn-primary btn-block"
									th:value="'Registrarse'" />
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</section>
	
	<hr class="division" />

	<footer th:replace="layout/layout2 :: footer2"></footer>

</body>
</html>