<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout2 :: head2"></head>
<body>

	<header th:replace="layout/layout2 :: header2"></header>

	<section class="banner-area">
		<div class="container py-4">
			<div class="card border-primary range-grid">
				<div class="card-header text-dark fs-5 fw-bold"
					th:text="${'Del '} + ${desdeTitulo} + ${' al '} + ${hastaTitulo}"></div>
				<div class="card-body">
					<h4 class="card-title">
						<a th:href="@{'/home'}">&laquo; Volver</a> <a
							class="btn btn-danger btn-xs float-end mx-2"
							th:href="@{'/test/' + ${desde} + '/' + ${hasta}(format=pdf)}"
							target="_blank" rel="noopener noreferrer">PDF</a>
					</h4>
				</div>
			</div>
		</div>
	</section>
	
	<hr class="division" />
	
	<footer th:replace="layout/layout2 :: footer2"></footer>

</body>
</html>